body, html {

}

#webcam, #overlay {
  position: absolute;
    
  top: 80px;
  left: 0px;
}

#eyes {
  position: absolute;
  top: 80px;

left: 405px;
}

#target {
  background-color: lightgreen;
  position: absolute;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: all 0.1s ease;
  box-shadow: 0 0 20px 10px white;
  border: 4px solid rgba(0,0,0,0.5);
  opacity: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 7%;
  text-align: center;
  background:transparent;
  color: #ebf2fa;
  font-size: 12pt;
  padding: 0.5em;
}

a {
  color: inherit;
}

@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

#info {
  position: absolute;
  top: 60%;
  left: 54%;
  transform: translate(-50%, -50%);
  font-size: 20pt;
  background-color: #111211;
  padding: 1em;
  border-radius: 10px;
  max-width: 450px;
  transition: all 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
    
}

#info h3 {
  margin: 0.2em 0;
}

#info.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

#training {
  position: absolute;
  top: 80px;
  right: 0;
  width: 290px;
  background-image: linear-gradient( #07d2b3, #0d5aec);
  padding: 0.5em;
    border-radius: 15px;

border: 2px solid #4b696e
}

#training table {
  width: 100%;
  font-size: 16pt;
  font-family: "Montserrat", sans-serif;
}

#training table td:nth-child(2) {
  text-align: right;
}

.buttonwrap {
  text-align: center;
}

button {
  position: relative;
  z-index: 11;
  cursor: pointer;
  font-size: 10pt;
  padding: 0.125em 0em;
  margin: 0.1em;
  width: 140px;
height: 40px;
font-family: "Montserrat", sans-serif;
background: #1d1d1d;

font-weight: bold;

border: 1px solid seashell;
}
button:hover {

    background: #fff;
    color: #000;

}
#heatMap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  pointer-events: none;
}
footer a {
  text-decoration:none;
  color:#FFF;
}
.rainbow-button {
  width:calc(17vw + 4px);
  height:calc(6vw + 4px);
 background-image: linear-gradient(90deg, #00C0FF 0%, #09AEC4 49%, #08CDB5 80%, #00C0FF 100%);
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:3vw;
  font-weight:bold;
}

.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
#data-uploader, #model-uploader {
  display: none;
}
